---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			body {
				margin: 0;
			}

			.first-part-wrapper {
				background: #1B1B23;
			}

			.first-part {
				background: radial-gradient(114.74% 111.19% at 50% 111.19%, rgba(247, 0, 108, 0.2) 4.5%, rgba(6, 0, 251, 0.2) 58.97%, rgba(27, 27, 35, 0.2) 100%);
				transform: rotate(-180deg);
			}

			.navigation {
				padding: 40px 80px;
				color: white;
				transform: rotate(180deg);
			}
		</style>
	</head>

	<body>
		<div class="first-part-wrapper">
			<div class="first-part">
				<div class="navigation">
					<div class="logo">
						<svg width="245" height="46" viewBox="0 0 245 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_416_7)">
							<path d="M88.2023 11.8766L80.1207 35.326H85.4239L87.1597 29.9797H95.6126L97.3453 35.326H102.649L94.5792 11.8766H88.2023ZM88.4189 26.1086L91.2995 17.2353H91.4821L94.3595 26.1086H88.4189Z" fill="white"/>
							<path d="M118.926 18.5122C117.843 17.8458 116.665 17.5111 115.384 17.5111C114.4 17.5111 113.58 17.6785 112.921 18.0101C112.262 18.3417 111.73 18.7539 111.321 19.2467C110.913 19.7395 110.603 20.223 110.39 20.6941H110.173V17.7405H105.371V41.9213H110.241V32.5087H110.39C110.61 32.9984 110.931 33.4788 111.349 33.9561C111.767 34.4334 112.308 34.827 112.967 35.14C113.626 35.453 114.428 35.608 115.374 35.608C116.708 35.608 117.915 35.264 118.991 34.5728C120.068 33.8817 120.922 32.862 121.55 31.5169C122.178 30.1687 122.494 28.5168 122.494 26.5549C122.494 24.593 122.169 22.8636 121.522 21.5216C120.876 20.1827 120.009 19.1785 118.926 18.5091V18.5122ZM117.092 29.242C116.807 30.023 116.389 30.6336 115.838 31.0737C115.291 31.5138 114.619 31.7308 113.827 31.7308C113.035 31.7308 112.376 31.5138 111.829 31.083C111.281 30.6522 110.86 30.0478 110.572 29.2699C110.282 28.492 110.139 27.5777 110.139 26.5332C110.139 25.4887 110.285 24.5806 110.572 23.8089C110.863 23.0372 111.278 22.4421 111.825 22.0237C112.37 21.6053 113.038 21.3945 113.83 21.3945C114.623 21.3945 115.306 21.6115 115.854 22.0485C116.402 22.4824 116.819 23.0868 117.101 23.8585C117.382 24.6302 117.525 25.5228 117.525 26.5363C117.525 27.5498 117.382 28.461 117.098 29.2451L117.092 29.242Z" fill="white"/>
							<path d="M139.282 18.5122C138.199 17.8458 137.02 17.5111 135.739 17.5111C134.756 17.5111 133.936 17.6785 133.277 18.0101C132.618 18.3417 132.085 18.7539 131.677 19.2467C131.269 19.7395 130.959 20.223 130.746 20.6941H130.529V17.7405H125.727V41.9213H130.597V32.5087H130.746C130.965 32.9984 131.287 33.4788 131.705 33.9561C132.123 34.4334 132.664 34.827 133.323 35.14C133.982 35.453 134.783 35.608 135.73 35.608C137.064 35.608 138.27 35.264 139.347 34.5728C140.424 33.8817 141.278 32.862 141.909 31.5169C142.537 30.1687 142.853 28.5168 142.853 26.5549C142.853 24.593 142.528 22.8636 141.881 21.5216C141.235 20.1827 140.368 19.1785 139.285 18.5091L139.282 18.5122ZM137.45 29.242C137.166 30.023 136.748 30.6336 136.201 31.0737C135.653 31.5138 134.981 31.7308 134.189 31.7308C133.397 31.7308 132.738 31.5138 132.188 31.083C131.64 30.6522 131.219 30.0478 130.931 29.2699C130.64 28.492 130.498 27.5777 130.498 26.5332C130.498 25.4887 130.644 24.5806 130.931 23.8089C131.222 23.0372 131.637 22.4421 132.181 22.0237C132.726 21.6053 133.394 21.3945 134.186 21.3945C134.978 21.3945 135.662 21.6115 136.21 22.0485C136.757 22.4824 137.175 23.0868 137.457 23.8585C137.738 24.6302 137.881 25.5228 137.881 26.5363C137.881 27.5498 137.738 28.461 137.45 29.2451V29.242Z" fill="white"/>
							<path d="M146.176 35.326H151.126V25.6406H160.647V21.5526H151.126V15.9646H161.674V11.8766H146.176V35.326Z" fill="white"/>
							<path d="M177.33 18.9182C176.634 18.4379 175.835 18.0814 174.941 17.8521C174.047 17.6227 173.11 17.5081 172.135 17.5081C170.733 17.5081 169.499 17.7188 168.438 18.1434C167.373 18.568 166.507 19.1693 165.839 19.9534C165.167 20.7375 164.718 21.6611 164.49 22.7304L168.994 23.0961C169.162 22.5165 169.505 22.0331 170.022 21.6487C170.541 21.2644 171.238 21.0692 172.113 21.0692C172.942 21.0692 173.586 21.2675 174.038 21.6642C174.49 22.0609 174.718 22.6219 174.718 23.3472V23.4153C174.718 23.7904 174.576 24.0724 174.295 24.2615C174.013 24.4536 173.558 24.5962 172.933 24.6892C172.308 24.7852 171.485 24.8844 170.464 24.9929C169.595 25.0766 168.766 25.2222 167.977 25.4268C167.188 25.6314 166.485 25.9382 165.866 26.3442C165.251 26.7502 164.762 27.2833 164.403 27.9465C164.044 28.6098 163.865 29.4311 163.865 30.4074C163.865 31.5665 164.118 32.5366 164.626 33.3115C165.133 34.0863 165.823 34.669 166.702 35.0626C167.577 35.4562 168.577 35.6514 169.697 35.6514C170.566 35.6514 171.33 35.5337 171.996 35.3012C172.661 35.0688 173.227 34.7433 173.697 34.328C174.171 33.9127 174.548 33.4292 174.83 32.8806H174.966V35.3198H179.585V23.4587C179.585 22.4143 179.384 21.5155 178.979 20.7623C178.574 20.0092 178.026 19.3955 177.327 18.912L177.33 18.9182ZM174.752 29.0406C174.752 29.6605 174.598 30.2121 174.285 30.7018C173.973 31.1915 173.543 31.5789 172.995 31.8641C172.447 32.1492 171.813 32.2949 171.098 32.2949C170.384 32.2949 169.737 32.1213 169.251 31.7742C168.769 31.4271 168.524 30.9219 168.524 30.2586C168.524 29.7999 168.642 29.4156 168.88 29.1088C169.115 28.7989 169.446 28.554 169.873 28.3711C170.3 28.1883 170.798 28.055 171.371 27.9713C171.637 27.9341 171.934 27.8908 172.262 27.8381C172.59 27.7885 172.918 27.7327 173.246 27.6676C173.574 27.6025 173.868 27.5312 174.131 27.4507C174.394 27.3701 174.601 27.2802 174.752 27.181V29.0468V29.0406Z" fill="white"/>
							<path d="M189.387 21.9246C189.947 21.5155 190.603 21.3109 191.358 21.3109C192.249 21.3109 192.97 21.5806 193.524 22.1167C194.078 22.656 194.418 23.3627 194.548 24.2398H199.143C199.075 22.8823 198.704 21.6983 198.035 20.6911C197.367 19.6838 196.454 18.8996 195.303 18.3449C194.152 17.787 192.813 17.5081 191.281 17.5081C189.505 17.5081 187.973 17.8924 186.686 18.6579C185.399 19.4234 184.406 20.4896 183.71 21.8533C183.014 23.217 182.664 24.7976 182.664 26.5983C182.664 28.399 183.007 29.9487 183.697 31.3155C184.387 32.6823 185.377 33.7485 186.668 34.514C187.958 35.2826 189.505 35.6638 191.303 35.6638C192.865 35.6638 194.217 35.3787 195.359 34.8053C196.501 34.2319 197.398 33.4385 198.051 32.4188C198.704 31.3992 199.066 30.2183 199.143 28.8763H194.548C194.455 29.4962 194.264 30.0231 193.97 30.4632C193.676 30.9033 193.308 31.2349 192.862 31.4643C192.416 31.6936 191.915 31.8083 191.358 31.8083C190.603 31.8083 189.944 31.6037 189.381 31.1915C188.818 30.7793 188.382 30.1811 188.072 29.3939C187.763 28.6067 187.608 27.6521 187.608 26.5302C187.608 25.4082 187.763 24.4815 188.076 23.7036C188.388 22.9257 188.824 22.3306 189.384 21.9215L189.387 21.9246Z" fill="white"/>
							<path d="M210.64 31.5759C210.411 31.6193 210.183 31.6378 209.954 31.6378C209.626 31.6378 209.338 31.5883 209.09 31.4891C208.843 31.3899 208.651 31.2163 208.512 30.9684C208.376 30.7205 208.308 30.3702 208.308 29.9208V21.4039H211.612V17.7405H208.308V13.5286H203.437V17.7405H201.036V21.4039H203.437V30.5624C203.431 31.7153 203.67 32.6699 204.158 33.4262C204.647 34.1824 205.331 34.7403 206.21 35.0967C207.088 35.4531 208.116 35.6112 209.291 35.5647C209.923 35.543 210.461 35.4779 210.903 35.3756C211.346 35.2733 211.689 35.1835 211.931 35.106L211.166 31.4767C211.046 31.4984 210.869 31.5325 210.64 31.5728V31.5759Z" fill="white"/>
							<path d="M227.129 18.6517C225.838 17.8923 224.304 17.5111 222.528 17.5111C220.752 17.5111 219.22 17.8923 217.927 18.6517C216.637 19.411 215.637 20.471 214.938 21.8346C214.236 23.1983 213.886 24.7883 213.886 26.6045C213.886 28.4207 214.236 29.9889 214.938 31.3495C215.64 32.7132 216.637 33.7732 217.927 34.5325C219.217 35.2919 220.752 35.6731 222.528 35.6731C224.304 35.6731 225.835 35.295 227.129 34.5325C228.422 33.7732 229.415 32.7132 230.118 31.3495C230.82 29.9858 231.17 28.4052 231.17 26.6045C231.17 24.8038 230.82 23.1983 230.118 21.8346C229.415 20.471 228.419 19.411 227.129 18.6517ZM225.804 29.304C225.526 30.1067 225.118 30.7359 224.576 31.1977C224.035 31.6595 223.36 31.8919 222.553 31.8919C221.745 31.8919 221.052 31.6595 220.501 31.1977C219.95 30.7359 219.533 30.1036 219.254 29.304C218.976 28.5013 218.837 27.5901 218.837 26.5673C218.837 25.5445 218.976 24.6333 219.254 23.8306C219.533 23.0279 219.947 22.3956 220.501 21.9307C221.055 21.4658 221.739 21.2334 222.553 21.2334C223.366 21.2334 224.035 21.4658 224.576 21.9307C225.118 22.3956 225.526 23.031 225.804 23.8306C226.083 24.6333 226.222 25.5445 226.222 26.5673C226.222 27.5901 226.083 28.5013 225.804 29.304Z" fill="white"/>
							<path d="M244.257 17.5328C243.976 17.5018 243.713 17.4863 243.468 17.4863C242.485 17.4863 241.618 17.7653 240.863 18.3293C240.108 18.8903 239.573 19.7178 239.251 20.8088H239.069V17.7405H234.347V35.326H239.217V25.3772C239.217 24.6612 239.378 24.0259 239.703 23.4773C240.028 22.9287 240.47 22.4979 241.03 22.188C241.59 21.8781 242.228 21.7231 242.946 21.7231C243.28 21.7231 243.651 21.751 244.053 21.8037C244.459 21.8564 244.774 21.9183 245.003 21.9865V17.6599C244.79 17.6072 244.542 17.5638 244.261 17.5328H244.257Z" fill="white"/>
							<path d="M60.9994 16.2962L60.3651 15.946L31.4202 0L2.47215 15.946L1.83787 16.2962L0 17.3097V36.5037L17.2339 45.9969L31.4171 38.1835L45.6002 46L62.8372 36.5037V20.2416V17.3097L60.9963 16.2962H60.9994ZM31.4202 5.65935L55.229 18.7756L45.6064 24.0786L31.4202 16.2652L17.2339 24.0786L7.61139 18.7756L31.4202 5.65935ZM45.6033 40.3407L31.4202 32.5242L17.237 40.3407L4.95359 33.5718V22.969L17.237 29.7348L31.4233 21.9214L45.6095 29.7348L57.8929 22.9659V33.5687L45.6095 40.3376L45.6033 40.3407Z" fill="url(#paint0_linear_416_7)"/>
							</g>
							<defs>
							<linearGradient id="paint0_linear_416_7" x1="31.4202" y1="0.0588869" x2="31.4202" y2="45.594" gradientUnits="userSpaceOnUse">
							<stop stop-color="#F73188"/>
							<stop offset="1" stop-color="#3732FB"/>
							</linearGradient>
							<clipPath id="clip0_416_7">
							<rect width="245" height="46" fill="white"/>
							</clipPath>
							</defs>
						</svg>	
					</div>

					<div class="nav-items-wrapper">
						<div class="nav-item">Platform</div>
						<div class="nav-item">Solutions</div>
						<div class="nav-item">Company</div>
						<div class="nav-item">Resources</div>
						<div class="nav-item">
							<button>Book a Demot</button>
						</div>

					</div>
				</div>
			</div>

		</div>
	</body>
</html>
