---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			.first-part {
				/* Rectangle 2 */

width: 1728px;
height: 1441px;
left: 1728px;
top: 1441px;

background: radial-gradient(114.74% 111.19% at 50% 111.19%, #F7006C 4.5%, #0600FB 58.97%, #1B1B23 100%);
opacity: 0.2;
transform: rotate(-180deg);

			}
		</style>
	</head>
	<body>
		<h1>Astro Site</h1>
		<div class="first-part"></div>
	</body>
</html>
